{% import "macro.html.twig" as web_macro %}
<table class="table table-hover">
  <thead>
    <tr>
      <th width="35%">课程</th>
      <th>上一次课</th>
      <th>下一次课</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses|default() %}
      <tr>
        {% if nextlessons[course.id]|default() %}
          {% set lessonId = nextlessons[course.id].id %}
          {% set count = data('CourseLessonTaskCount', {courseId:nextlessons[course.id].courseId, lessonId:nextlessons[course.id].id, stage:'before'}) %}
          {% set unFinishedBeforeTaskCount = count[0] %}
          {% set beforeTaskCount = count[1] %}
        {% elseif lessons[course.id]|default() %}
          {% set lessonId = lessons[course.id][0].id %}
          {% set unFinishedBeforeTaskCount = 0 %}
        {% else %}
          {% set unFinishedBeforeTaskCount = 0 %}
        {% endif %}

        {% if lastlessons[course.id]|default() %}
          {% set count = data('CourseLessonTaskCount', {courseId:lastlessons[course.id].courseId, lessonId:lastlessons[course.id].id, stage:'after'}) %}
          {% set unFinishedAfterTaskCount = count[0] %}
          {% set afterTaskCount = count[1] %}

        {% else %}
          {% set unFinishedAfterTaskCount = 0 %}
        {% endif %}

        <td>
          {% if nextlessons[course.id]|default() or lessons[course.id]|default() %}
            <a class="pull-left link-primary mrm stu-learning-img" href="{{ path('instant_course_learn', {courseId:course.id, nextLessonId:lessonId}) }}" target="_blank">
              <img src="{{ filepath(courseSets[course.courseSetId].cover.middle|default(null), 'course.png') }}" alt="" width="100">
              {% if unFinishedBeforeTaskCount+unFinishedAfterTaskCount|default() %}
                <span class="info-dot">{{ unFinishedBeforeTaskCount+unFinishedAfterTaskCount }}</span>
              {% endif %}
            </a>
            <a href="{{ path('instant_course_learn', {courseId:course.id, nextLessonId:lessonId}) }}" target="_blank" class="link-primary mts display-block">{{courseSets[course.courseSetId].title|default()|sub_text(30)}}</a>
            <a href="" class="link-gray text-sm display-block mts">{{teachers[courseSets[course.courseSetId].teacherIds[0]].nickname|default()|sub_text(30)}}</a>
          {% else %}
            <div class="pull-left link-primary mrm stu-learning-img">
              <img src="{{ filepath(courseSets[course.courseSetId].cover.middle|default(null), 'course.png') }}" alt="" width="100">
              {% if unFinishedBeforeTaskCount+unFinishedAfterTaskCount|default() %}
                <span class="info-dot">{{ unFinishedBeforeTaskCount+unFinishedAfterTaskCount }}</span>
              {% endif %}
            </div>
            <div class="link-primary mts display-block">{{courseSets[course.courseSetId].title|default()|sub_text(30)}}</div>
            <div class="link-gray text-sm display-block mts">{{teachers[courseSets[course.courseSetId].teacherIds[0]].nickname|default()|sub_text(30)}}</div>
          {% endif %}
        </td>
        <td>
          {% if lastlessons[course.id]|default() %}
            <a href="{{ path('instant_lesson_learn', {courseId:course.id, lessonId:lastlessons[course.id].id, stage:'in'}) }}" class="link-primary" target="_blank">
              {{'课次'~lastlessons[course.id].number}}
              {% if lastlessons[course.id].title|default() %}
                {{(':'~lastlessons[course.id].title)|default()|sub_text(12)}}
              {% endif %}
            </a>
            <br>
            {% if afterTaskCount %}
              <span>{{afterTaskCount}}个课后任务</span>
            {% endif %}
            {% if unFinishedAfterTaskCount > 0 %}
              <span class="color-danger"> <a class="link-primary" href="{{ path('instant_lesson_learn', {courseId:course.id, lessonId:lastlessons[course.id].id}) }}" target="_blank">{{ unFinishedAfterTaskCount }}个未完成</a> </span>
            {% elseif afterTaskCount > 0 %}
              <i class="es-icon es-icon-iccheckcircleblack24px color-success left-menu">
              </i>
            {% endif %}
          {% elseif nextlessons[course.id]|default() %}
            未开始授课
          {% else %}
            该课程没有课次
          {% endif %}
        </td>
        <td>
          {% if nextlessons[course.id]|default() %}
            <a class="link-primary" href="{{ path('instant_lesson_learn', {courseId:course.id, lessonId:nextlessons[course.id].id, stage:'before'}) }}" target="_blank">
              {{'课次'~nextlessons[course.id].number}}
              {% if nextlessons[course.id].title|default() %}
                {{(':'~nextlessons[course.id].title)|default()|sub_text(12)}}
              {% endif %}
            </a>
            <br>
            {% if beforeTaskCount > 0 %}
              <span>{{beforeTaskCount}}个课前任务</span>
            {% endif %}
            {% if unFinishedBeforeTaskCount > 0 %}
              <span class="color-danger"> <a class="link-primary" href="{{ path('instant_lesson_learn', {courseId:course.id, lessonId:nextlessons[course.id].id}) }}" target="_blank">{{ unFinishedBeforeTaskCount }}个未完成</a></span>
            {% elseif beforeTaskCount > 0 %}
              <i class="es-icon es-icon-iccheckcircleblack24px color-success left-menu">
              </i>
            {% endif %}
          {% elseif lastlessons[course.id]|default() %}
            已完课
          {% else %}
            该课程没有课次
          {% endif %}
        </td>
        <td>
          {% if lastlessons[course.id]|default() or nextlessons[course.id]|default() %}
            <a class="link-primary" data-target="#modal" data-toggle="modal" href="javascript:;" data-url="{{ path('instant_course_teach_lessons', {courseId:course.id, source: 'myClass'}) }}">所有课次</a>
            <a  class="link-primary" data-toggle="modal" data-target="#modal" data-url="{{ path('my_instant_course_report', {courseId:course.id, userId:app.user.id}) }}" href="javascript:">{{'课程报告'|trans}}</a>
          {% else  %}
          {% endif %}
      </tr>
    {% else %}
      <tr>
        <td class="empty" colspan="4">{{ '暂无学习中的课程'|trans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>