<div class="ani course-top"  swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0">
  <img class="course-top__img" src="{{ asset('/static-dist/custombundle/img/class-report-mobile/book.png') }}"/>
  <div class="course-top__title">
    课前
  </div>
</div>

<div class="ani course-center" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0">
  <div class="course-content">
    {% for taskResult in taskResults %}
      <div class="course-content__item">
        <i class="course-content__icon cz-icon {{ taskResult.icon|default("cz-icon-tiaocha ") }} class-report-body_icon"></i>
        <div class="course-content__title text-overflow">{{ taskResult.title }}</div>
        {% if taskResult.status %}
          <span class="course-content__status color-green ">
          {% if taskResult.score|default(null) %}
            {{ taskResult.score }}
          {% else %}
            已完成
          {% endif %}
          </span>
        {% else %}
          <span class="course-content__status color-yellow">
            未完成
          </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.3s">
  <div class="course-status">
    <div class="course-status__info">已完成</div>
    <div class="course-status__num" > 
      <div class="circle-chart" id="circleChart2" data-total="{{taskCounnt}}" data-finish="{{finishCount}}">
      </div>
    </div>
    <div class="course-status__text">
      <span class="course-status__text--yellow">{{ finishCount }}</span>/{{ taskCounnt }}
    </div>
  </div>
</div>

{% if beatRate >= 50 %}
<div class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="0.9s">
  <div class="encourage-well">
    <div class="encourage-well__info ">
      超越了全班<span class="encourage-well_number">{{ beatRate }}%</span>的同学
    </div>
    <img class="encourage-well__img" src="{{ asset('/static-dist/custombundle/img/class-report-mobile/small_thumb.png') }}"/>
  </div>
</div>
{% endif %}