{% extends 'activity/content-layout.html.twig' %}
{% do script(['libs/perfect-scrollbar.js','custombundle/js/activity/brain-storm/index.js']) %}

{% block content %}
  {% set mode = app.request.get('mode') %}
  <div class="iframe-parent-content-new iframe-parent-full ps-container" id="brain-storm-activity" data-url="">
    <div class="activity-show-content-new">
      <div class="activity-content">
        <div class="operation-btn">
          {% if is_course_teacher(activity.fromCourseId) and mode|default() != 'report' %}
            {% if lesson.status == 'teaching' %}
              <button class="cz-btn cz-btn-orange js-rend-call 
                {% if taskStatus.status|default("") == 'start' or taskStatus.status|default("") == 'end' %} hidden {% endif %}"
                data-url="{{ path('task_start', {taskId:task.id, lessonId:lesson.id, courseId:lesson.courseId}) }}">开始回答</button>
              <button class="cz-btn cz-btn-orange js-rend-call js-end-task 
                {% if not (taskStatus.status|default("") == 'start') %} hidden {% endif %}"
                data-url="{{ path('task_end', {taskId:task.id, lessonId:lesson.id, courseId:lesson.courseId}) }}">停止回答</button>
            {% endif %}
            <button class="cz-btn cz-btn-default js-rend-stop 
              {% if not (taskStatus.status|default("") == 'end' or lesson.status == 'teached') %} hidden {% endif %}"
              disabled>活动已结束</button>
          {% endif %}
        </div>
        <div class="activity-results js-activity-results" id="js-brain-storm-result">
          <div class="mb0 activity-name js-activity-name">
            {{ activity.content|raw }}
            <p class="activity-group-way">
              {% if brainStorm.submitWay == 'group' %}
                按组提交结果
              {% elseif brainStorm.submitWay == 'person' %}
                组内按个人提交
              {% endif %}
            </p>
          </div>
          <hr class=" mt30 mb30 border-top-light-black">
          <div class="cz-activity-content js-cz-activity-content mt0">
            {% if taskStatus.status|default("") %}
              {% block task_result %}
                {% include 'activity/brain-storm/submit-way-'~brainStorm.submitWay~'.html.twig' %}
              {% endblock %}
            {% else %}
              <div class="js-activity-animate activity-animate">
                <img src="/static-dist/custombundle/img/brain_storming.png" alt="活动图">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" id="taskId" value="{{ task.id }}">
  <input type="hidden" id="race" value="{{ is_course_teacher(activity.fromCourseId) }}">
{% endblock %}
