{% extends 'layout.html.twig' %}

{% do script(['custombundle/js/activity-manage/testpaper/index.js']) %}
{% set taskStatus = data('TaskStatus', {taskId:task.id, type:'complect'}) %}

{% block body %}
  <div class="iframe-parent-content {% if course.type|default() == 'instant' %}bt50{% endif %}">
    <div class="modal show">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-body task-state-modal">
            <div class="title font-blod">
              <i class="es-icon es-icon-xinxi color-info"></i>{{ '测验说明'|trans }}
            </div>
            {% if type == 'instant' %}
              {% if lesson.status != 'teached' and testpaper.status == 'open' and taskStatus.status|default("") != 'end' %}
                <div class="content js-content">
                  {% if testpaperActivity.testMode == 'realTime' and activity.startTime and activity.startTime > "now"|date("U") or taskStatus.status|default("") == "" %}
                    <div class="text-16 ">
                      测验未开始
                    </div>
                  {% else %}
                    <div class="text-16 ">
                      本次考试共<span class="color-primary">{{ testpaper.itemCount }}题</span>，总分<span
                        class="color-primary">{{ testpaper.score }}分</span>
                      {% if testpaperActivity.finishCondition.type == 'score' %}
                      ，及格为<span class="color-primary">{{ testpaperActivity.finishCondition.finishScore }}分</span>
                      {% endif %}；

                      {% if testpaperActivity.limitedTime %}
                        <div class="mt5">请在<span class="color-primary">{{ testpaperActivity.limitedTime }}分钟</span>内作答。
                        </div>
                      {% endif %}
                      {% if testpaperActivity.doTimes %}
                        仅有<span class="color-danger">一次</span>考试机会。
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div class="text-right operation-btn">
                  {% if ( lesson.status|default() == 'teaching' and ( not is_course_teacher(activity.fromCourseId))) or ( not lesson|default() ) %}
                    {% if not activity.startTime or (activity.startTime and activity.startTime <= "now"|date("U")) %}
                      <a
                        class="cz-btn cz-btn-orange js-start-test {% if taskStatus.status|default("") != 'start' %} hidden {% endif %}"
                        href="{{ path('testpaper_do',{lessonId:activity.id,testId:testpaperActivity.mediaId}) }}">{{ '开始测验'|trans }}</a>
                    {% endif %}
                  {% elseif lesson.status|default() and is_course_teacher(activity.fromCourseId) %}
                    <a class="cz-btn cz-btn-orange"
                       href="{{ path('testpaper_statis',{activityId:activity.id, testId:testpaperActivity.mediaId}) }}">{{ '查看结果'|trans }}</a>
                  {% else %}
                    <button class="cz-btn cz-btn-default" disabled>{{ '开始考试'|trans }}</button>
                  {% endif %}
                </div>
              {% else %}
                <div class="content js-content">
                  <div class="text-16 ">该测验已关闭，请联系教师！</div>
                </div>
              {% endif %}
            {% else %}
              {% if testpaper.status == 'open' %}
                <div class="content">
                  {% if testpaperActivity.testMode == 'realTime' and activity.startTime and activity.startTime > "now"|date("U") %}
                    <div class="text-16 ">
                      {{ 'course.plan_task.activity_manage.testpaper.will_begin_tips'|trans({'%startTime%':activity.startTime|date('Y-m-d H:i:s')}) }}
                    </div>
                  {% else %}
                    <div class="text-16 ">
                      {{ 'course.plan_task.activity_manage.testpaper.total_question'|trans({'%itemCount%':testpaper.itemCount, '%score%':testpaper.score})|raw }}
                      {% if testpaperActivity.finishCondition.type == 'score' %}
                        {{ 'course.plan_task.activity_manage.testpaper.pass_score'|trans({'%finishScore%':testpaperActivity.finishCondition.finishScore})|raw }}
                      {% endif %}

                      {% if testpaperActivity.limitedTime %}
                        <div class="mt5">
                          {{ 'course.plan_task.activity_manage.testpaper.answer'|trans({'%limitedTime%':testpaperActivity.limitedTime})|raw }}
                        </div>
                      {% endif %}
                      {% if testpaperActivity.doTimes %}
                        {{ 'course.plan_task.activity_manage.testpaper.once_trance'|trans|raw }}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                <div class="text-right mtl">
                  {% if not activity.startTime or (activity.startTime and activity.startTime <= "now"|date("U")) %}
                    <a class="btn btn-primary"
                       href="{{ path('testpaper_do',{lessonId:activity.id,testId:testpaperActivity.mediaId}) }}">{{ 'course.plan_task.activity_manage.testpaper.start_exam'|trans }}</a>
                  {% endif %}
                </div>
              {% else %}
                <div class="content">
                  <div class="text-16 ">{{ 'course.plan_task.activity_manage.testpaper.close_tips'|trans }}</div>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop in"></div>
  <input type="hidden" id="taskId" value="{{ task.id }}">

  {% include 'activity/content-footer.html.twig' %}
{% endblock %}
