<div class="testpaper-question testpaper-question-fill js-testpaper-question {% if setting('magic.testpaper_watermark') %}js-testpaper-watermark{% endif %}" data-watermark-url="{{ path('cloud_testpaper_watermark') }}" id="question{{ question.id }}">
  <div class="testpaper-question-body">
    {% include 'question/part/question-stem.html.twig' %}
  </div>
  <div class="testpaper-question-footer clearfix">
    <div class="testpaper-question-result">
    {{'正确答案是'|trans}} <strong class="color-success">
      {% if question.answer[0] == 1 %} {{'正确'|trans}} {% else %} {{'错误'|trans}} {% endif %}</strong>
    </div>
  </div>

  {% include 'question/statis/show-analysis.html.twig' with {showAnalysis:1} %}
</div>

