<div class="testpaper-question testpaper-question-essay js-testpaper-question {% if setting('magic.testpaper_watermark') %}js-testpaper-watermark{% endif %}" data-watermark-url="{{ path('cloud_testpaper_watermark') }}" id="question{{ question.id }}">
  <div class="testpaper-question-body">
    {% include 'activity/questionnaire/question-stem.html.twig' %}
  </div>
  
    <div class="testpaper-question-footer clearfix">
      <div class="testpaper-question-essay-inputs">
        <textarea class="form-control essay-input-short" rows="1" style="overflow:hidden;line-height:20px;"></textarea>

        <textarea id="question-input-long-{{ question.id }}" class="form-control essay-input-long" data-type="essay" name="{{ question.id }}" style="display:none;" data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}" data-image-download-url="{{ path('editor_download', {token:upload_token('course')}) }}"></textarea>

        <a class="btn btn-link btn-muted btn-sm essay-input-btn" style="display:none"><span class="glyphicon glyphicon-chevron-up color-gray"></span> {{'收起'|trans}}</a>
      </div>
    </div>

</div>