{% set taskNo = 0 %}
<div class="course-detail-content">
  <ul class="task-list task-list-md task-list-hover">
    <li class="task-item bg-gray-lighter js-task-chapter"><i class="es-icon es-icon-menu left-menu"></i>
      <a href="javascript:void(0);" class="title gray-dark">课前</a>
      <i class="right-menu es-icon js-remove-icon es-icon-remove"></i>
    </li>
    {% for key, item in items['before'] %}
    <li class="task-item js-task-content task-content mouse-control" style="margin-left:50px;display: list-item;">
      {% if is_locked_task(item['task']) %}
        <i class="es-icon es-icon-lock left-menu gray-medium">
        </i>
        <div class="title gray-medium">任务{{ loop.index }} ： {{ item.title|sub_text(30) }}</div>
      {% else %}
        {% if is_course_teacher(item.courseId) %}
          <i class="es-icon
            {% if lesson.status == 'teached' %}
            es-icon-iccheckcircleblack24px color-primary
            {% else %}
            es-icon-undone-check color-gray
            {% endif %}
            left-menu">
          </i>
        {% else %}
          <i class="es-icon
            {% if  not item['task'].result|default(null) %}
            es-icon-undone-check color-gray js-task-{{ item['task'].id }}
            {% elseif item['task'].result.status == 'start' %}
            es-icon-doing color-primary js-task-{{ item['task'].id }}
            {% elseif item['task'].result.status == 'finish' %}s
            es-icon-iccheckcircleblack24px color-primary
            {% endif %}
            left-menu">
          </i>
        {% endif %}
        <a class="title js-lesson-task" href="{{ path('lesson_task_show', {id:item['task'].id,courseId:item.courseId, lessonId:lesson.id}) }}">
          任务{{ loop.index }} ： {{ item.title|sub_text(30) }}
        </a>
      {% endif %}
      {% set meta = activity_meta(item['task'].activity.mediaType) %}
      <i class="right-menu {{ meta.icon }} color-gray ml10" data-toggle="tooltip" data-placement="top" title=""
        data-original-title="{{ meta.name }}任务" data-container="body"></i>
    </li>
    {% set taskNo = loop.length %}
    {% endfor %}
    <li class="task-item bg-gray-lighter js-task-chapter"><i class="es-icon es-icon-menu left-menu"></i>
      <a href="javascript:void(0);" class="title gray-dark">课堂</a>
      <i class="right-menu es-icon js-remove-icon es-icon-remove"></i>
    </li>
    {% for key, item in items['in'] %}
      {% if item['type'] == 'chapter' %}
      <li class="task-item color-gray bg-gray-lighter ml30" style="display: list-item;">
        <span class="title pll">{{ chapters[item.id].title }}</span>
      </li>
      {% else %}
      {% set taskNo = taskNo|default(0)+1 %}
      <li class="task-item js-task-content task-content mouse-control" style="margin-left:50px;display: list-item;">
        {% if is_locked_task(item['task']) %}
          <i class="es-icon es-icon-lock left-menu gray-medium">
          </i>
          <div class="title gray-medium">任务{{ taskNo }} ： {{ item.title|sub_text(30) }}</div>
        {% else %}
          <i class="es-icon
            {% if lesson.status == 'teached' %}
            es-icon-iccheckcircleblack24px color-primary
            {% else %}
            es-icon-undone-check color-gray
            {% endif %}
            left-menu">
          </i>
          <a class="title js-lesson-task" href="{{ path('lesson_task_show', {id:item['task'].id,courseId:item.courseId, lessonId:lesson.id}) }}">
            任务{{ taskNo }} ： {{ item.title|sub_text(30) }}
          </a>
        {% endif %}
        {% set meta = activity_meta(item['task'].activity.mediaType) %}
        <i class="right-menu {{ meta.icon }} color-gray ml10" data-toggle="tooltip" data-placement="top" title=""
        data-original-title="{{ meta.name }}任务" data-container="body"></i>

      </li>
      {% endif %}
    {% endfor %}
    <li class="task-item bg-gray-lighter js-task-chapter"><i class="es-icon es-icon-menu left-menu"></i>
      <a href="javascript:void(0);" class="title gray-dark">课后</a>
      <i class="right-menu es-icon js-remove-icon es-icon-remove"></i>
    </li>
    {% for key, item in items['after'] %}
    {% set taskNo = taskNo|default(0)+1 %}
    <li class="task-item js-task-content task-content mouse-control" style="margin-left:50px;display: list-item;">
      {% if is_locked_task(item['task']) %}
        <i class="es-icon es-icon-lock left-menu gray-medium">
        </i>
        <div class="title gray-medium">任务{{ taskNo }} ： {{ item.title|sub_text(30) }}</div>
      {% else %}
        {% if is_course_teacher(item.courseId) %}
          <i class="es-icon
            {% if lesson.status == 'teached' %}
            es-icon-iccheckcircleblack24px color-primary
            {% else %}
            es-icon-undone-check color-gray
            {% endif %}
            left-menu">
          </i>
        {% else %}
          <i class="es-icon
            {% if  not item['task'].result|default(null) %}
            es-icon-undone-check color-gray js-task-{{ item['task'].id }}
            {% elseif item['task'].result.status == 'start' %}
            es-icon-doing color-primary js-task-{{ item['task'].id }}
            {% elseif item['task'].result.status == 'finish' %}
            es-icon-iccheckcircleblack24px color-primary
            {% endif %}
            left-menu">
          </i>
        {% endif %}
        <a class="title js-lesson-task" href="{{ path('lesson_task_show', {id:item['task'].id,courseId:item.courseId, lessonId:lesson.id}) }}">
          任务{{ taskNo }} ： {{ item.title|sub_text(30) }}
        </a>
      {% endif %}
      {% set meta = activity_meta(item['task'].activity.mediaType) %}
      <i class="right-menu {{ meta.icon }} color-gray ml10" data-toggle="tooltip" data-placement="top" title=""
        data-original-title="{{ meta.name }}任务" data-container="body"></i>

    </li>
    {% endfor %}
  </ul>
</div>
