{% extends 'layout.html.twig' %}

{% block title %}{{ '任务学习'|trans }} - {{ parent() }}{% endblock %}

{% set bodyClass = "" %}
{% do script(['libs/perfect-scrollbar.js','libs/es-ckeditor/ckeditor.js','custombundle/js/task/index.js']) %}

{% block body %}
  {% set preview = app.request.query.get('preview') %}
  {% set lessonStatus = lesson.status|default('') %}
  <div id="js-hidden-data">
    <input type="hidden" name="preview" value="{{preview}}">
    <input type="hidden" name="course-id" value="{{ task.courseId }}">
    <input type="hidden" name="task-id" value="{{ task.id }}">
    <input type="hidden" name="task-result-status" value="{{ taskResult.status }}">
    <input type="hidden" name="mode" value="{% if preview %}preview{% else %}learn{% endif %}">
    <input type="hidden" name="plugins_url"
           value="{{ path('lesson_task_show_plugins', {courseId:course.id, preview:preview, lessonId: lessonId, taskId: task.id}) }}">
  </div>

  <div class="task-dashboard-page-new js-task-dashboard-page">
    <div class="dashboard-header">
      {% if site.favicon|default() %}
        <img src="{{ asset(site.favicon) }}" alt="Logo" class="logo-img">
      {% endif %}
      {% if task.title|default() %}
        <p class="fl js-task-name text-28 task-name color-orange text-overflow" title="任务{{ count }}：{{ task.title }}">
          任务{{ count }}：{{ task.title }}
        </p>
      {% endif %}
      <div class="sign-code js-sign-code clearfix {% if code|default() %}{% else %}hidden{% endif %}">
        <span class="fl">签到码：</span>
        <span class="code-number color-orange fl-code js-sign-code-num">{{ code|default() }}</span>
      </div>
      <div class="fr color-white text-18 clearfix">
        <div class="finish-course-box fl clearfix">
          <span class="fl split-cutline"></span>
          <div class="finish-class js-finish-class fl plr15">
            <i class="cz-icon cz-icon-finishclass"></i>
            <span>下课</span>
          </div>
        </div>
        <span class="fl split-cutline"></span>
        <div class="fl pl20 pr20 js-full-screen">
          <i class="cz-icon cz-icon-Fullscreen"></i>
        </div>
      </div>
    </div>
    <div class="dashboard-content" id="dashboard-content">
      <div class="dashboard-body js-dashboard-body">
        <iframe id="task-content-iframe"
                class="task-content-iframe {% if course.type|default() == 'instant' %}back-deep-color{% endif %} "
                data-last-time="{{ date().timestamp }}"
                src="{{ path('instant_course_task_content_preview',{courseId:task.courseId, id:task.id,preview:app.request.get('preview') }) }}"
                style="width:100%;height:100%;border:0px"
                allowfullscreen webkitallowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="dashboard-sidebar" id="dashboard-sidebar">

    </div>
  </div>

  <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
  <div id="modal" class="modal"></div>
  <div id="attachment-modal" class="modal"></div>
{% endblock %}