{% extends 'layout.html.twig' %}
{% do script(['libs/jquery-validation.js','libs/iframe-resizer-contentWindow.js'], 500) %}

{% set stage = app.request.attributes.get('stage')|default() %}
{% set activityConnAims = data('ActivityConnAims', {activityId:activity.id|default(0)}) %}
{% set courseSetType = data('ActivityCourseSetType', {activity:activity|default(), courseId:courseId|default()}) %}

{% block body %}
  <div class="tab-content" id="iframe-content">
    <div class="tab-pane js-course-tasks-pane active js-step2-view">
      <form class="form-horizontal" id="step2-form" >
        <div class="form-group">
          <div class="col-sm-2 control-label">
          <label for="title" class="control-label-required">{{ '标题名称'|trans }}</label>
          </div>
          <div class="col-sm-10">
            <input id="title" class="form-control" type="text" name="title" value="{{ activity.title|default('') }}">
          </div>
        </div>
        {% block activity_content %}
        {% endblock %}
        {% if stage == 'in' %}
          <div class="form-group">
            <div class="col-sm-2 control-label">
            <label for="duration">{{ '参考时长'|trans }}</label>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <input id="duration" class="form-control" type="text" name="duration" value="{{ activity.duration|default('') }}" >
                <div class="input-group-addon">分钟</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-2 control-label">
            <label for="about">{{ '教学说明'|trans }}</label>
            </div>
            <div class="col-sm-10">
              <textarea id="about" class="form-control" rows="3" name="about">{{ activity.about|default('') }}</textarea>
            </div>
          </div>
        {% endif %}

        {% if courseSetType == 'instant' %}
          <div class="form-group">
            <div class="col-sm-2 control-label">
            <label for="about">{{ '实现教学目标'|trans }}</label>
            </div>
            <div class="col-sm-10">
              <div class="js-teaching-added-content teaching-added-content">
                {% for activityConnAim in activityConnAims|default() %}
                  <p data-id="{{ activityConnAim.id }}"><span class="gray-darker">{{ activityConnAim.type }}: </span>{{ activityConnAim.content }}<i class="es-icon es-icon-close01 selected-delete-icon pull-right" style="margin-right:-20px"></i></p>
                {% endfor %}
              </div>
              <div class="btn btn-primary js-add-modal-btn">
                <i class="es-icon es-icon-add"></i>添加设置
              </div>
            </div>
          </div>
        {% endif %}
      </form>
    </div>
    <div class="tab-pane js-course-tasks-pane js-step3-view">
      <form class="form-horizontal" id="step3-form" >
        {% block activity_finish %}
        {% endblock %}

        {% if not stage %}
          {% set task = data('TaskByActivity', {courseId: activity.fromCourseId|default(0), activityId: activity.id|default(0)}) %}
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2 radios">
              <label>
                <input type="checkbox" name="isOptional" value="1" {% if task.isOptional|default(false) %} checked {% endif %}>
                设为选修
              </label>
                <span class="color-gray">学习结果将不会计入学习进度、学习统计中，并且不会影响下一任务的解锁</span>
            </div>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}