{% set result = data('RaceAnswerResults', {taskId:chapter['task'].id, userId:app.user.id}) %}
{% set userId = app.user.id %}
<div class="pbs class-report-body__list">
  <i class="cz-icon cz-icon-ceyan class-report-body_icon"></i>
  <span class="class-report-body_name">任务{{ taskIndex }}：{{ chapter['task'].activity.title }}</span>
  {% set taskIndex = taskIndex + 1 %}
</div>
<div class="class-report_result">
  {% if result[userId]|default() %}
    <span class="color-dark mrm">第{{ result[userId].rank }}名</span>
    <span class="color-dark mrm">{{ result[userId].truename }}</span>
    <span class="color-gray mrm">{{ result[userId].number }}</span>
    <span class="color-primary mlm">积分 +{{ result[userId].score }}</span>
  {% else %}
    <span class="color-danger text-lg">
        未抢到
    </span>
  {% endif %}
</div>